
@{
    ViewBag.Title = "DangXuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" cart-container container">
    <div class="cart">
        <div>
            Tài Khoản
        </div>
        <div>
            <h4>
                Đăng Xuất Thành Công. Click <a href="@Url.Action("Index", "Home")"> vào đây </a> để trở về trang chủ.
            </h4>
        </div>
    </div>
</div>



