
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>404 NotFound</h2>
    <h3><a href="@Url.Action("Index","Home")">click here</a> để trở về trang chủ</h3>
</div>

